<?xml version="1.0" encoding="UTF-8"?>
<!-- 이 문서는 MyBatis에서 처리할 SQL문을 작성하는 문서입니다. -->
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0/EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="lprod">

	<!-- #{} data값이 하나면 vo, 두개 이상이면 map 혹은 vo -->
	<select id="getAllLprod" resultType="lprodVo">
	 	select * from lprod
	</select>

</mapper>	











